.text-view-container {
  border: 1px solid black;
  display: flex;
  /* overflow: auto; */
  /* #TODO: remove these temp attributes */
  height: 500px;
  width: 100%;
  /* #TODO: end */
}

.row div {
  width: 100%;
}

.row :nth-child(2n) {
  background-color: #CFD8DC; /* Blue Grey 100 */
}